aannotated-doc==0.0.4
annotated-types==0.7.0
anyio==4.12.1
click==8.3.1
colorama==0.4.6
fastapi==0.128.0
h11==0.16.0
idna==3.11
pydantic==2.12.5
pydantic_core==2.41.5
starlette==0.50.0
typing-inspection==0.4.2
typing_extensions==4.15.0
uvicorn==0.40.0
Flask==2.3.2
flask-cors==3.1.0
gunicorn==21.2.0
requests==2.31.0
pymongo==4.3.3
python-dotenv==1.0.1
openai==1.31.0
numpy==1.25.2
pandas==2.1.1
scikit-learn==1.3.2


